body{
    overflow-x: hidden;
    width: 100%;
    font-size: 16px;
    background-image: url("../../imagenes/background.png");
background-position: center;
button:hover{
    cursor: pointer;
    background-color: gray;
    color: white;
}
}